
<!-- table cdr_tables search -->
<br>
<#LANG_AHELPTABLES_CDR#>
<p>
<a href="?view_mode=edit_cdr_tables" class="btn btn-default"> <#LANG_ADD#></a>
</p>
<table width=100% border=0><tr>
<td valign=top>
<!-- results -->
[#if TABLES#]
<!-- search results (list) -->
<form action="?" method="post" name="frmList_app_asterisk" style="padding:0px" class="form">
<table  align=center class="table table-striped">
<thead>
<tr>
<th><#LANG_ATYPE#></th>
<th><#LANG_ATABLE#></th>
<th><#LANG_ACALLDATE#></th>
<th><#LANG_ASRC#></th>
<th><#LANG_ADST#></th>
<th><#LANG_ADURATION#></th>
<th><#LANG_AFILEDIR#></th>
<th><#LANG_ARECORD#></th>
</tr>
</thead>
<tbody>
[#begin TABLES#]
<tr style="height:52px" class="hover_btn2">
 <td style="vertical-align:middle"><b>[#if TABLE!=""#][#TABLE#][#else#]&nbsp;[#endif#]<b></td>
 <td style="vertical-align:middle">[#if CALLDATE!=""#][#CALLDATE#][#else#]&nbsp;[#endif#]</td>
 <td style="vertical-align:middle">[#if SRC!=""#][#SRC#][#else#]&nbsp;[#endif#]</td>
 <td style="vertical-align:middle">[#if DST!=""#][#DST#][#else#]&nbsp;[#endif#]</td>
 <td style="vertical-align:middle">[#if DURATION!=""#][#DURATION#][#else#]&nbsp;[#endif#]</td>
 <td style="vertical-align:middle">[#if FILEDIR!=""#][#FILEDIR#][#else#]&nbsp;[#endif#]</td>
 <td style="vertical-align:middle">[#if FILENAME!=""#][#FILENAME#][#else#]&nbsp;[#endif#]</td>
 <td style="vertical-align:middle" width="1%" nowrap>
  <div style="width:120px">
  [#if "<#ACTION#>"=="admin"#]
   <a href="?view_mode=edit_cdr_tables&id=[#ID#]" class="btn btn-default" title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
    <a href="?view_mode=delete_cdr_tables&id=[#ID#]" onClick="return confirm('Are you sure? Please confirm.')" class="btn btn-default" title="Delete"><i class="glyphicon glyphicon-remove"></i></a>
  [#endif ACTION#]
  </div>
 </td>
</tr>
[#end TABLES#]
</tbody>
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_app_asterisk">
</form>
<!-- / search results (list) -->
[#else TABLES#]
<p>
<font color="red"><#LANG_NO_RECORDS_FOUND#></font>
</p>
[#endif TABLES#]
<!-- / results -->
</td></tr></table>
