<!-- filter form -->
<table border=0>
<tr>
 <td colspan=10><b><#LANG_SEARCH#></b></td>
</tr>
<form action="?" method="post" name="cdr_search">
 <tr>
  <td align=left><#LANG_ACALLDATE#>:&nbsp;<input type="date" name="calldate" value="[#CALLDATE#]"></td>
 </tr>
 <tr>
  <td align=left><#LANG_ASRC#>:&nbsp;<input type="text" name="src" value="[#SRC#]"></td>
  <td align=left><#LANG_ADST#>:&nbsp;<input type="text" name="dst" value="[#DST#]"></td>
 </tr>
 <tr>
  <td align=left><#LANG_ADURATION#>:&nbsp;<input type="text" name="duration" value="[#DURATION#]"></td>
 </tr>

 <tr>
    <td align=left><#LANG_ARECPERPAGE#>&nbsp;
	<select name="recperpage" style="color:black">
	<option selected value="[#RECPERPAGE#]">[#recperpage#]</option>
	<option disabled value=""></option>
	<option value="10">10</option>
	<option value="20">20</option>
	<option value="30">30</option>
	<option value="40">40</option>
	<option value="50">50</option>
	<option value="60">60</option>
	<option value="70">70</option>
	<option value="80">80</option>
	<option value="90">90</option>
	<option value="100">100</option>
    </select>
    </td>
    <td></td>
    <td></td>
 <tr> 
<tr>
  <td colspan=2>
   <input type="submit" name="submit" value="<#LANG_SEARCH#>">
   //
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>"><#LANG_CANCEL#></a>
  </td>
 </tr>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
</form>
</table>

<!-- / filter form -->
<!-- table records view-->
<table width=100% border=0><tr>
<td valign=top>

<!-- records -->
[#if CDRRECORDS#]
<!-- paging -->
[#if PAGES#]
<table border=0>
<td align=right><b><#LANG_APAGES#>:</b>&nbsp;</td>
[#begin PREVPAGE#]<td><a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&save_qry_cdr=1&page=[#NUM#]">&lt;&lt;</a></td>[#end PREVPAGE#]
<td>
[#begin PAGES#]
[#if !SELECTED#]<a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&save_qry_cdr=1&page=[#NUM#]">[#else#]<b>[#endif#][#NUM#]</b></a>
[#end PAGES#]
</td>
[#begin NEXTPAGE#]<td><a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&save_qry_cdr=1&page=[#NUM#]">&gt;&gt;</a></td>[#end NEXTPAGE#]
</table>
[#endif PAGES#]
<!-- / paging -->

<!-- search records (list) -->
<table  align=center class="table table-stripped">
<thead>
<tr>
<th> <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&save_qry_cdr=1&sortby_cdr=calldate"><#LANG_ACALLDATE#></a><nobr>
    [#if SORTBY_CDR="calldate"#](+)[#endif#]
    [#if SORTBY_CDR="calldate DESC"#](-)[#endif#]</nobr>
</th>
<th> <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&save_qry_cdr=1&sortby_cdr=src"><#LANG_ASRC#></a><nobr>
    [#if SORTBY_CDR="src"#](+)[#endif#]
    [#if SORTBY_CDR="src DESC"#](-)[#endif#]</nobr>
</th>
<th> <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&save_qry_cdr=1&sortby_cdr=dst"><#LANG_ADST#></a><nobr>
    [#if SORTBY_CDR="dst"#](+)[#endif#]
    [#if SORTBY_CDR="dst DESC"#](-)[#endif#]</nobr>
</th>
<th> <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&save_qry_cdr=1&sortby_cdr=duration"><#LANG_ADURATION#></a><nobr>
    [#if SORTBY_CDR="duration"#](+)[#endif#]
    [#if SORTBY_CDR="duration DESC"#](-)[#endif#]</nobr>
</th>
<th><#LANG_ARECORD#></th>
</tr>
</thead>
<tbody>
[#begin CDRRECORDS#]
    <tr>
        <td width="30%">[#calldate#]</td>
        <td width="20%">[#src#]</td>
        <td width="20%">[#dst#]</td>
        <td width="5%">[#duration#]</td>
	[#if filename="none"#]
	    <td width="20%"><#LANG_ANORECORD#></td>
	[#else#]
	    <td width="20%"><audio src="<#FILEDIR_CDR#>/[#filename#]" controls></audio></td>
	[#endif#]
<td width="5%">
  [#if "<#ACTION#>"=="admin"#]
    <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&save_qry_cdr=1&sortby_cdr=<#SORTBY_CDR#>&page=<#NUM#>&mode=cdr_delete&u_id=[#uniqueid#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')" class="btn btn-default" title="Delete"><i class="glyphicon glyphicon-remove"></i></a>
  [#endif ACTION#]
</td>
    </tr>
[#end CDRRECORDS#]
</tbody>
</table>
<!-- / search results (list) -->
[#else CDRRECORDS#]
<p>
<font color="red"><#LANG_ANORECORDS#></font>
</p>
[#endif CDRRECORDS#]
<!-- / results -->
</td></tr></table>
