<!--  help view -->
[#if VIEW_MODE="help"#]
<p style="text-decoration: underline;">Модуль для работы с платформой IP-телефонии Asterisk</p>
<p><b>Настройка модуля</b></p>
<p>Настройка доступа к базе данных сервера Asterisk.</p>
<p>Адрес сервера (можно указать с портом), наименование базы, пользователь и пароль.</p>
<br>
<p><b>Настройка таблицы записей разговоров CDR</b></p>
<p>Наименование таблицы CDR и колонок (чувствительны к регистру:)</p>
<p><b>Дата</b> - колонка calldate (Дата и время звонка)</p>
<p><b>С</b> - колонка src (номер телефона инициатора разговора)</p>
<p><b>На</b> - колонка dst (номе телефона отвечающего абонента)</p>
<p><b>Длительность</b> - колонка duration (длительность разговора)</p>
<p><b>Путь</b> - расположение записанных файлов разговоров</p>
<p><b>Запись</b> - колонка filename (наименование файла записанного разговора)</p>
<br>
[#endif VIEW_MODE#]
<!-- / help view -->
