<!-- search form -->
<table border=0>
<tr>
 <td colspan=10><b><#LANG_SEARCH#></b></td>
</tr>
<form action="?" method="post" name="search_asterisk">
 <tr>
  <td align=left><#LANG_ADATE#>:&nbsp;<input type="date" name="calldate" value="[#calldate#]"></td>
 </tr>
 <tr>
  <td align=left><#LANG_AFROM#>:&nbsp;<input type="text" name="src" value="[#src#]"></td>
  <td align=left><#LANG_ATO#>:&nbsp;<input type="text" name="dst" value="[#dst#]"></td>
 </tr>
 <tr>
  <td align=left><#LANG_ADURATION#>:&nbsp;<input type="text" name="duration" value="[#duration#]"></td>
 </tr>

 <tr>
    <td align=left><#LANG_ARECPERPAGE#>&nbsp;
	<select name="recperpage" style="color:black">
	<option selected value="[#recperpage#]">[#recperpage#]</option>
	<option disabled value=""></option>
	<option value="10">10</option>
	<option value="20">20</option>
	<option value="30">30</option>
	<option value="40">40</option>
	<option value="50">50</option>
	<option value="60">60</option>
	<option value="70">70</option>
	<option value="80">80</option>
	<option value="90">90</option>
	<option value="100">100</option>
    </select>
    </td>
    <td></td>
    <td></td>
 <tr> 
<tr>
  <td colspan=2>
   <input type="submit" name="submit" value="<#LANG_SEARCH#>">
   //
   <a href="?data_source=<#DATA_SOURCE#>"><#LANG_CANCEL#></a>
  </td>
 </tr>
<input type="hidden" name="mode" value="search_asterisk">
</form>
</table>

<!-- / search form -->
